receivers:
  prometheus:
    config:
      scrape_configs:
        - job_name: "lokxy"
          scrape_interval: 15s
          static_configs:
            - targets: ["lokxy:9091"]
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

exporters:
  debug:
    verbosity: normal
  otlp:
    endpoint: http://tempo:4317
    tls:
      insecure: true

service:
  pipelines:
    metrics:
      receivers: [prometheus]
      exporters: [debug]
    traces:
      receivers: [otlp]
      exporters: [otlp]
